/* --------------------------------------------------------- =CLEAR =FLOATS/=FIXS */

.clearfloat {
 clear: both;
 height: 1px;
 }
.clear0 {
 height: 0;
 clear: both;
 }
.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
.clearfix {display: inline-block;} /* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;} /* End hide from IE-mac */


/* --------------------------------------------------------- =PAGE WRAPS/=COLUMNS */





/* --------------------------------------------------------- =PRRIMARY =NAV */

.pNav {
 background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */


 width:100%;
 height:38px;
}
.pNav a:link, .pNav a:visited { 
 text-decoration: none;
 display:block;
 width: 195px;
    color:#333;
 text-align:center;
 padding: 9px 0;
 /* background:url(../images/nav_off.gif) right no-repeat; */
 font-size:11pt;
 font-family:"Franklin Gothic Book", "Trebuchet MS", Arial, Helvetica, sans-serif;
 }
.pNav a:hover, .pNav a:active,
.pNav a.selected:link, .pNav a.selected:visited {
 text-decoration: none;
 background:#336391;
 color:#fff;
 }
.pNav ul {
 margin:0;
 padding:0;
}
.pNav li {
 list-style-image:none;
 list-style-type:none;
 /* margin:-3px 0 0 0; */
 padding:0;
 float:left;
 border-right: 1px rgb(182, 182, 182) solid;
}


/* --------------------------------------------------------- =SUB =NAV */

.sNav {
 background:#336391;
 height:29px;
 position:absolute;
 width: 788px;
 z-index:1000;
 display:none;
 
}
.sNav a{color:#fff!important }
.sNav ul {
 margin: 0;
 padding: 0;
}

.sNav li {
 margin: 0;
 padding: 0;
 float:left;
 list-style-image:none;
 list-style-type:none;
}
.sNav a:link, .sNav a:visited { 
 
 text-decoration: none;
 padding:8px 16px 0 16px;
 display:block;
 text-align:center;
 font-size:10pt;
 background:url(../images/snav_div.gif) right no-repeat;
 }
.sNav a:hover, .sNav a:active, .sNav a.selected {
 color:#fff;
 text-decoration: none;
 display:block;
 text-align:center;
 font-size:10pt;
 padding:6px 16px 8px 16px;
 
 }
 
/* --------------------------------------------------------- =HOME =CONTENT */