@import url('//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css');

html {background:#ffffff!important 50% top repeat;}

body {background-color:transparent; min-width:320px;
color: rgb(68, 68, 68);
font-size:14px;
font-family: "Open Sans",sans-serif !important;
}

#container {
    background: none repeat scroll 0% 0% #FFF !important;
    max-width: 980px !important;
    min-width: 420px;
    min-height: 160px;
    margin: 1.5em auto !important;
    border: 1px solid #D8D8D8 !important;
    box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.1) !important;
    padding: 3% !important;
    border-radius: 2px !important;
}

h1 {
font-size: 1.9em !important;
font-weight: 800 !important;
line-height: 1.3em !important;
color: #444;
padding-top: 6px;
text-shadow: 0px 1px 0px #000;
background-color: #f6f6f6;
border-radius: 5px;
border: 1px solid rgb(0, 0, 0) !important;
text-align: center;
margin-bottom: 20px;
}

TABLE,TR,TD,TH{font-family:"Open Sans",sans-serif; font-size:14px; 
}


TABLE.frame{border:0px solid #CCCCFF important}


TH.caption {
font-size: 1.9em !important;
font-weight: 800 !important;
line-height: 1.3em !important;
color: #444;
padding-top: 6px;
text-shadow: 0px 1px 0px #000;
background-color: #f6f6f6;
border-radius: 5px;
border: 1px solid rgb(0, 0, 0) !important;
text-align: center;
margin-bottom: 20px;
}

TD.justify{text-align:justify}
TD.text{text-align:justify;/*padding:10px;*/}
TD.menu{color:#FFFFFF;background-color:#0B0B61; height:45px;}
.topmenu { padding-left:16%;font-size: 14px; }
TD.submenu{color:#0066CC;background-color:#FFFFFF}
TD.submenu a{width:100%;padding:10px;margin:0px}
TD.submenu a:visited{padding:10px}
TD.submenu a:hover{background-color:#EEEEEE;border:1px solid #0066CC;padding:1px}
TD.info{color:#000000;background-color:#DDDDDD;text-align:center;padding:10px;}
DIV.info{color:#000000;background-color:#DDDDDD;text-align:center;padding:10px; margin-top: 20px;}
.snbmenu1{ padding:0 !important; font-size:14px;; text-align:left !important;}
/*TD.capl{color:#000000;background-color:#CCCCCC;font-weight:bolder}
TD.capc{color:#000000;background-color:#CCCCCC;text-align:center;font-weight:bolder}
TD.capr{color:#000000;background-color:#CCCCCC;text-align:right;font-weight:bolder}*/
TD.field{color:#444444;vertical-align:top; padding-top: 7px; font-weight:bolder}
/*TD.input{background-color:#EEEEEE;vertical-align:top}*/
TD.error{font-weight:bolder;
background-color: #f2dede;
border-color: #ebccd1;
color: #a94442;
padding: 15px;
margin-bottom: 20px!important;
border: 1px solid transparent;
border-radius: 4px;
}
TD.courier{font-family:Courier New,Courier;font-size:15px;background-color:#FFFFFF}
TD.row{font-size:16px; padding:10px;}


A,A:active,A:visited{color:#0066CC;text-decoration:none}
A:hover{color:#75BF37}
A.menu,A.menu:active,A.menu:visited{color:#FFFFFF;text-decoration:none;border-right: 0px solid #444;padding: 9px;padding-right: 20px;padding-left: 20px;}
A.menu:hover{color:#CCCCFF}
A.copy,A.copy:active,A.copy:visited,A.copy:hover{color:#777777;font-size:14px;text-decoration:none}

H1{color:#0066CC;font-size:36px;font-weight:700}
H2{color:#000000;font-size:28px;font-weight:700}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 0px auto;
width: 95%;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
border: 1.5 px solid #d8dbde;
position: relative;
z-index: 1;
padding: 10px 12px;
cursor: pointer;
height: 44px!important;
    color: #333;
    outline: 0px none;
    vertical-align: top;
    background-image: none;
    filter: none !important;
    box-shadow: none !important;
    background-color: #ffffff;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}
.form-horizontal .control-label {
    text-align: left;
    font-weight: 600!important;
position:bottom!important;
margin-bottom: 5px!important;
margin-top: 5px!important;
float: left;
}


/***
Vertical inline menu
***/
.ver-inline-menu {
  margin: 0px;
  list-style: none;
}

.ver-inline-menu li {
  position:relative;
  margin-bottom:1px;
margin-left: -35px;
}

.ver-inline-menu li i {
  color:#674099;
  font-size:15px;
  padding:11px 9px;
  margin:0 8px 0 0;
  background:#e0eaf0 !important;
}

.ver-inline-menu li a {
  font-size: 13px;
  color:#674099;
  display:block;
  background:#f0f6fa;
  border-left:solid 2px #c4d5df;
  padding: 10px;
}

.ver-inline-menu li:hover a,
.ver-inline-menu li:hover i {
  background:#35aa47;
  text-decoration:none;
color: #FFF!important;
}

.ver-inline-menu li:hover i {
  color:#fff;
  background:#57B866 !important;
}

.ver-inline-menu li.active a,
.ver-inline-menu li:hover a {
  font-size: 13px;
  padding: 10px;
  color:#fff!important;
}

.ver-inline-menu li.active a,
.ver-inline-menu li.active i {
  color:#fff;
  background:#35aa47;
  text-decoration:none;
  border-left:solid 1px #35aa47;
}

.ver-inline-menu li.active i {
  background:#57B866 !important;  
  color:#fff;
}

.ver-inline-menu li.active:after {
  content: '';
  display: inline-block;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-left: 6px solid #35aa47;
  position: absolute;
  top: 22px;
  right: -5px;
}

.form-well {
min-height: 20px;
padding: 15px;
margin-bottom: 20px;
background-color: #f5f5f5!important;
border: 1px solid #eee;
border: 1px solid rgba(0,0,0,.05);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


textarea{ height:auto; }
INPUT.submit{/*font-family:Verdana,Tahoma,Trebuchet MS,Arial;font-size:16px;color:#0066CC;background-color:#CCCCFF;border:solid 1px #0066CC; border-radius:5px; cursor:hand*/
display: inline-block;
padding: 10px 12px!important;
margin-bottom: 0;
font-size: 16px!important;
font-weight: 600!important;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
border-radius: 5px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
color: #fff;
background-color: #39b3d7;
border-color: #269abc;
}
INPUT.checkbox{border:0px}

HR{color:#0066CC;height:1px}
FONT.remark{color:#777777;font-size:11px}

IMG.frame{border:solid 1px #0066CC}
PRE.info{font-family:"Open Sans",sans-serif;font-size:12px;font-weight:bolder;color:#000000}
PRE.comms{font-family:"Open Sans",sans-serif;font-size:11px;color:#000000}
IMG.turing{border:solid 1px #0066CC}
IMG.logos{border:solid 1px #DDDDDD}

LABEL{cursor:hand}

#login .container {width:320px; min-width:320px; padding:0; position:relative; color:#f4f4f4;}
#login #content {width:280px; margin:0 auto; overflow:visible;}
#login h1 {background:url(/img/login-logo.png) top left no-repeat; height:100px; width:147px; margin:35px auto 30px auto;}
#login h2 {display:none;}
#login section[role="main"] {background-color:transparent; padding:0;}
#login form {width:280px; float:right; margin-top:20px;}
#login form fieldset {border-bottom:none; padding:0; margin:0;}
#login legend {display:none;}
#login form fieldset label {color:#f4f4f4;}
#login label a {font-size:12px; margin-top:1px;}
#login .field-help {margin-top:-20px; color:#fefefe;}
#login input {border:none; width:100%; margin-bottom:20px; line-height:32px;}
#login input[type="submit"] {width:100%; margin-top:15px; line-height:25px;}
#login input[type="submit"]:hover {background-image:none;}
.api-auth strong {color:inherit; font-weight:bold;}
.api-auth .cancel {width:100%; line-height:25px;}
.api-auth p.access {font-size:16px; font-weight:bold;}
#login.no-signup .container {width:420px;}
#login.no-signup #content {width:380px;}
#login.no-signup .warning {padding: 15px;}


@media screen and (max-width: 480px) {
	#login h1 {margin:15px auto -15px auto; background:url(/img/login-logo-small.png) top left no-repeat;}
    #login.api-auth h1 {background:url(/img/login-logo-small.png) top left no-repeat; height:78px; width:147px; margin:20px auto 20px auto;}
    .api-auth p {font-size:14px; line-height:20px;}
    .api-auth p.access {font-size:15px; font-weight:bold;}
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#login h1 {background-image:url(/img/login-logo@2x.png); background-size:147px 100px;}
}

@media screen and (max-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
	#login h1 {background-image:url(/img/login-logo-small@2x.png); background-size:147px 78px;}
}


.footer{ width:100%; height:100px; background:#0066CC;  }

.tooltip-inner{background:#272a2c;color:#bab9b9}.tooltip.bottom .tooltip-arrow{border-bottom-color:#272a2c}#flotTip{white-space:nowrap;border:1px solid #37a6cd;padding:3px 8px;background:#37a6cd;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;box-shadow:inset 1px 1px 1px rgba(255,255,255,0.2),inset -1px -1px 1px rgba(0,0,0,0.2);-moz-box-shadow:inset 1px 1px 1px rgba(255,255,255,0.2),inset -1px -1px 1px rgba(0,0,0,0.2);-webkit-box-shadow:inset 1px 1px 1px rgba(255,255,255,0.2),inset -1px -1px 1px rgba(0,0,0,0.2);position:absolute;z-index:100;color:#fff}.label-important{background:#37a6cd}.label-block{display:block}.label-inverse{background:#333}input,button,select,textarea{font-family:'Open Sans',sans-serif;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.form-control{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.form-inline.small input,.form-inline.small select{margin:0 5px 0 0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;padding:1px 5px;border-color:#d8d9da;color:#a7a7a7}.form-inline.small select{padding:1px 0;height:23px}.form-inline.small select:last-child{margin-right:0}.form-inline.small label{float:left;margin:0 5px 0 0;display:block}.form-inline.small .input-group.block{display:block}.form-inline.small .input-group input{margin:0;width:85%}
.btn-group>.btn, .btn-group>.dropdown-menu {
font-size: 13px;
}
.btn-group>.btn, .btn-group-vertical>.btn {
position: relative;
float: left;
}
.btn-small {
padding: 2px 10px 2px 10px;
}
.btn {
font-weight: 600;
}
.btn-default {
background: #f4f4f4;
border: 1px solid #dcdcdc;
text-shadow: 0 1px 0 rgba(255,255,255,0.75);
color: rgba(0,0,0,0.6);
text-shadow: 0 1px 0 #fff;
font-weight: 600;
}
.btn {
box-shadow: inset 1px 1px 1px rgba(255,255,255,0),inset -1px -1px 1px rgba(0,0,0,0);
-moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0),inset -1px -1px 1px rgba(0,0,0,0);
-webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0),inset -1px -1px 1px rgba(0,0,0,0);
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px!important;
}

.btn-large {
padding: 14px 20px;
font-size: 18px!important;
line-height: normal;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px!important;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
color: #444;
background-color: #ccc;
border-color: #333;
display: inline-block;
padding: 8px 14px !important;
margin-bottom: 0;
font-size: 16px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 2px;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: buttonface;
box-sizing: border-box;
-webkit-appearance: button;
}


input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button a {
color: #21162F;
}


input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button:hover, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button:focus, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button:active, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button.active,  {
color: #333;
background-color: #e6e6e6;
border-color: #adadad;
}

.gaf-container .btn {
display: inline-block;
padding: 12px 18px;
margin-bottom: 0;
font-size: 16px!important;
line-height: 18px;
color: #333;
text-align: center;
text-shadow: 0 1px 1px rgba(255,255,255,.75);
vertical-align: middle;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
background-image: -ms-linear-gradient(top,#fff,#e6e6e6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
background-image: -o-linear-gradient(top,#fff,#e6e6e6);
background-image: linear-gradient(top,#fff,#e6e6e6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
border: 1px solid #ccc;
border-bottom-color: #b3b3b3;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
cursor: pointer;
}




.deposit_form{
    width : 100%;
    //border: 1px solid #000;
}
.payment_method{
    background: #f0faff;
    border-color: #7fcdf1!important;
}

ul.payment_method li { float : left;
    clear : left;
    display : list-item;
    background: #f0faff;
    width: 100%;
    text-align : left;
}

ul.payment_method li div {float:left; width: auto; height: 100%;}

.send_heading{
    width: 100%;
    height: 38px;
    padding-left:15px;
    background-image: linear-gradient(bottom, #E8E9EE 6%, #FFFFFF 83%);
    background-image: -o-linear-gradient(bottom, #E8E9EE 6%, #FFFFFF 83%);
    background-image: -moz-linear-gradient(bottom, #E8E9EE 6%, #FFFFFF 83%);
    background-image: -webkit-linear-gradient(bottom, #E8E9EE 6%, #FFFFFF 83%);
    background-image: -ms-linear-gradient(bottom, #E8E9EE 6%, #FFFFFF 83%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.06, #E8E9EE), color-stop(0.83, #FFFFFF) );
    border-left: 1px #999999 solid;
    border-right: 1px #999999 solid;
    border-top: 1px #ccc solid;
    border: 1px #ccc solid;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.send_content {
width: 100%;
height: auto;
float: left;
padding-bottom: 6px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;

}

#content-holder {
width: 100%;
padding-top: 17px;
margin-left: -8px;
font-size: 12px;
color: #003399;
font-weight: bold;
margin-left: 0px;
border-left: 1px #ddd solid;
border-right: 1px #ddd solid;
height: auto;
background: url(../images/profiletab_bg2.png);
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.tab-box {
 border-bottom: 0px solid #ddd; 
 padding-bottom: 10px; 
 margin-left: 10px; 
}
.tab-box a.activeLink {
background-color: #FFFFFF;
border-bottom: 1px solid #FFFFFF;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
border-top: 1px solid #ddd;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
padding: 10px 15px;
color: #365CA3;
font-weight: bold;
margin-left: 2px;
}
.tab-box a {
border: 0px solid #ddd;
color: #666666;
padding: 10px 15px;
margin-left: -6px;
text-decoration: none;
}

.tabcontent {
border: 1px solid #ddd;
background: #FFFFFF;
padding: 10px;
width: 100%;
margin-left: 0px;
color: #333333;
height: auto;
min-height: 250px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}






