<!DOCTYPE html>
  <html lang="en">
	<head>
	<meta charset="utf-8">
	<title>Bootstrap, from Twitter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/styler.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<!-- Redactor css -->
	<link rel="stylesheet" href="js/lib/redactor/redactor.css" />

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>
  <body cz-shortcut-listen="true">

	<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
	  
		<div id="branding" class="span2">
			<a href="#">
				<!-- <i class="icon-tasks"></i>
				<h1>BoardSkin</h1> -->
				<img src="img/logo.png">
			</a>
		</div>
		<div class="pull-right user">
			<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
				<img src="img/styler/user-thumb.jpg"> 
				<p><span>Izuddin Helmi</span></p> 
				<b class="caret"></b>

				<ul class="dropdown-menu" role="menu">
	                <li><a tabindex="-1" href="#">View Profile</a></li>
	                <li><a tabindex="-1" href="#">Manage Account</a></li>
	                <li><a tabindex="-1" href="#">Inbox</a></li>
	                <li><a tabindex="-1" href="#">Logout</a></li>
	                <li class="divider"></li>
	                <li><a tabindex="-1" href="#">Invite a Friend</a></li>
	                <li><a tabindex="-1" href="#">Create a Team</a></li>
	            </ul>
			</a>
		</div>
		<form class="searchform pull-right">
            <div class="input-icon-append">
            	<input class="input-large" maxlength="23" placeholder="Search" type="text">
                <button type="submit" rel="tooltip-bottom" class="icon" data-original-title="search">
                	<i class="icon-search"></i>
                </button>
            </div>
        </form>
		
  </div>
</div>
	<div class="content clearfix">
	  	<div class="section menu">
	<ul class="navigation nav-collapse">
		<li >
		  <a href="index.html">
			<i class="icon-dashboard"></i>
			<span>Dashboard</span>
		  </a>
		</li>
		<li >
		  <a href="forms.html">
			<i class="icon-edit"></i>
			<span>Forms</span>
		  </a>
		</li>
		<li >
		  <a href="calendar.html">
			<i class="icon-calendar"></i>
			<span>Calendar</span>
		  </a>
		</li>
		<li >
		  <a href="icons.html">
			<i class="icon-heart"></i>
			<span>Icons</span>
		  </a>
		</li>
		<li >
		  <a href="tables.html">
			<i class="icon-table"></i>
			<span>Tables</span>
		  </a>
		</li>
		<li >
			<a href="charts.html">
				<i class="icon-bar-chart"></i>
				<span>Charts</span>
			</a>
		</li>
		<li  class="current" >
			<a href="typography.html">
				<i class="icon-font"></i>
				<span>Typography</span>
			</a>
		</li>
	</ul>
</div>		<div class="section main">
			<div class="section-header">
				<h1>Typography</h1>
			</div>
			<div class="section-content">
				<div class="container-fluid">
					<div class="row-fluid">
			    		<div class="span12">
			    			<div class="hero-unit">
						        <h1>Hero Unit</h1>
						        <p class="lead">This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
						    </div>
			    			<h1>h1. Heading 1</h1>
				            <h2>h2. Heading 2</h2>
				            <h3>h3. Heading 3</h3>
				            <h4>h4. Heading 4</h4>
				            <h5>h5. Heading 5</h5>
				            <h6>h6. Heading 6</h6>
			    			<p class="lead">Ut mcsweeney's accusamus polaroid nihil. Aute blog kale chips small batch fap laborum intelligentsia non, cray banksy tattooed bushwick fingerstache iphone. <strong>Try-hard messenger bag hella, cardigan in polaroid exercitation cred beard banjo.</strong> Before they sold out hoodie post-ironic, scenester fugiat cardigan reprehenderit typewriter. 90's ethical <em>leggings umami try-hard intelligentsia</em> fingerstache +1, vinyl blog YOLO accusamus gastropub terry richardson dolor.</p>

							<p>Chillwave fixie retro truffaut, butcher tumblr vice enim brunch ut street art delectus proident photo booth pour-over. Umami 90's synth tonx kale chips labore. Carles photo booth fanny pack, occupy vegan placeat godard irure. Retro duis marfa tempor meh. <a href="#">Nostrud VHS ullamco fugiat fingerstache</a> hoodie cray high life. Minim consequat deep v pariatur, terry richardson gluten-free YOLO veniam single-origin coffee culpa DIY ad authentic do. Deserunt meggings do raw denim consectetur.</p>

							<p>Post-ironic 3 wolf moon locavore art party cardigan, mlkshk food truck sed cliche +1 scenester. Odd future echo park blue bottle hoodie. Kogi flannel velit, flexitarian labore ut tattooed squid sartorial occupy in. Enim velit lo-fi post-ironic, duis pork belly high life reprehenderit yr iphone master cleanse. <a href="#">Craft beer twee williamsburg leggings, irure odio pork belly helvetica single-origin coffee enim tofu adipisicing hella butcher.</a> Squid vinyl literally retro. Craft beer scenester narwhal, photo booth echo park mixtape godard enim elit culpa mollit incididunt 90's bushwick vinyl.</p>

							<blockquote>
								Four loko post-ironic VHS readymade pickled. Mumblecore keytar occupy, hashtag etsy lomo raw denim. Viral american apparel intelligentsia wolf truffaut, pork belly fingerstache. Thundercats umami wes anderson lo-fi YOLO. YOLO put a bird on it beard food truck, +1 polaroid vice. Leggings thundercats beard, sriracha gentrify tattooed flexitarian art party semiotics. Pug deep v mlkshk, intelligentsia bushwick ennui keytar VHS Austin wolf freegan fashion axe selfies.
								<small>Someone famous <cite title="Source Title">Source Title</cite></small>
							</blockquote>

							<p>Cardigan tonx yr intelligentsia etsy, messenger bag chillwave carles four loko wes anderson you probably haven't heard of them organic mcsweeney's. Locavore ennui seitan viral flexitarian mixtape sustainable, swag twee stumptown trust fund neutra. Echo park 3 wolf moon next level ugh aesthetic. Street art pork belly before they sold out odd future sustainable, cred swag next level cray. Fap banjo seitan cliche wayfarers YOLO portland before they sold out. +1 church-key semiotics tofu, umami keffiyeh Austin meggings small batch post-ironic. Selvage church-key pinterest flexitarian, hoodie keytar ethnic flannel YOLO occupy 90's swag squid.</p>

							<div class="well">
								<strong>This is a well</strong>
								Leggings pork belly yr farm-to-table irony, locavore gastropub ethical master cleanse. Gluten-free mlkshk sustainable biodiesel terry richardson street art. Polaroid plaid pitchfork, Austin chambray odd future irony synth vice chillwave gastropub deep v viral gluten-free. Portland VHS authentic master cleanse readymade, craft beer shoreditch etsy plaid. Iphone you probably haven't heard of them vegan, 8-bit tousled artisan blog high life forage pug raw denim wolf ethnic vinyl try-hard. Scenester sriracha letterpress intelligentsia, direct trade you probably haven't heard of them shoreditch ethical portland swag viral. Fashion axe dreamcatcher ennui salvia, master cleanse marfa leggings PBR hella intelligentsia umami.
							</div>

							<hr>

							<div class="row-fluid">
								<div class="span4">
									<h4>Unordered Lists</h4>
									<ul>
						              <li>Lorem ipsum dolor sit amet</li>
						              <li>Consectetur adipiscing elit</li>
						              <li>Integer molestie lorem at massa</li>
						              <li>Facilisis in pretium nisl aliquet</li>
						              <li>Nulla volutpat aliquam velit
						                <ul>
						                  <li>Phasellus iaculis neque</li>
						                  <li>Purus sodales ultricies</li>
						                  <li>Vestibulum laoreet porttitor sem</li>
						                  <li>Ac tristique libero volutpat at</li>
						                </ul>
						              </li>
						              <li>Faucibus porta lacus fringilla vel</li>
						              <li>Aenean sit amet erat nunc</li>
						              <li>Eget porttitor lorem</li>
						            </ul>
						        </div>
						        <div class="span4">
									<h4>Ordered Lists</h4>
									<ol>
						              <li>Lorem ipsum dolor sit amet</li>
						              <li>Consectetur adipiscing elit</li>
						              <li>Integer molestie lorem at massa</li>
						              <li>Facilisis in pretium nisl aliquet</li>
						              <li>Nulla volutpat aliquam velit
						                <ol>
						                  <li>Phasellus iaculis neque</li>
						                  <li>Purus sodales ultricies</li>
						                  <li>Vestibulum laoreet porttitor sem</li>
						                  <li>Ac tristique libero volutpat at</li>
						                </ol>
						              </li>
						              <li>Faucibus porta lacus fringilla vel</li>
						              <li>Aenean sit amet erat nunc</li>
						              <li>Eget porttitor lorem</li>
						            </ol>
						        </div>
						        <div class="span4">
									<h4>Description Lists</h4>
									<dl>
							            <dt>Semiotics Tofu</dt>
							            <dd>A description list is perfect for defining terms.</dd>
							            <dt>Euismod</dt>
							            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
							            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
							            <dt>Malesuada porta</dt>
							            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
							        </dl>
						        </div>
						    </div>
			    		</div>
			    	</div>
				</div>
			</div>
		</div>
		<div class="section sidebar">
	<div class="widget">
		<header class="widget-header">
			<h3 class="light">online users</h3>
		</header>
		<article class="widget-content">
			<ul class="unstyled user-list clearfix">
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
				<li><img src="img/styler/user-small.png"></li>
			</ul>
		</article>
	</div>
	<div class="widget bg-color blue">
		<header class="widget-header">
			<h3>events</h3>
		</header>
		<article class="widget-content">
			Ad artisan accusamus mixtape aliquip, bushwick try-hard deep v scenester biodiesel jean shorts keffiyeh. Bespoke qui master cleanse anim tousled minim. Art party occupy post-ironic messenger bag ut, quinoa mlkshk twee anim banksy lo-fi tonx voluptate.
		</article>
	</div>
	<div class="widget bg-color dark-grey">
		<header class="widget-header">
			<h3>projects</h3>
		</header>
		<article class="widget-content">
			<ul class="unstyled list">
				<li>
					<i class="icon-folder-close"></i> 
					<span class="font-bold">Metroboard</span>
					<span class="pull-right label label-success">completed</span>
				</li>
				<li>
					<i class="icon-folder-close"></i> 
					<span class="font-bold">Boardskin</span>
					<span class="pull-right label label-important">7 tasks</span>
				</li>
				<li>
					<i class="icon-folder-close"></i> 
					<span class="font-bold">Landingskin</span>
					<span class="pull-right label label-important">1 task</span>
				</li>
				<li>
					<i class="icon-folder-close"></i> 
					<span class="font-bold">Plain</span>
					<span class="pull-right label label-important">3 tasks</span>
				</li>
				<li>
					<i class="icon-folder-close"></i> 
					<span class="font-bold">Website</span>
					<span class="pull-right label label-warning">Pending</span>
				</li>
				<li>
					<i class="icon-folder-close"></i> 
					<span class="font-bold">Snippets</span>
					<span class="pull-right label label-warning">4 tasks</span>
				</li>
				<li>
					<i class="icon-folder-close"></i> 
					<span class="font-bold">Styler</span>
					<span class="pull-right label label-default">unknown</span>
				</li>
			</ul>
		</article>
	</div>
</div>
	</div>

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src='js/calendar/_loader.js'></script>

	<!-- Redactor Editor -->
	<script src="js/lib/redactor/redactor.min.js"></script>

	<!-- JS:charts-->
	<script src="js/charts/jquery.flot.js"></script>
	<script src="js/charts/jquery.flot.resize.js"></script>
	<script src="js/charts/jquery.flot.stack.js"></script>
	<script src="js/charts/jquery.flot.pie.min.js"></script>
	<script src="js/charts/jquery.sparkline.min.js"></script>
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->

	<script src="js/jquery.dataTables.min.js"></script>
	
	<script type='text/javascript'>
		$(document).ready(function() {
		
			var date = new Date();
			var d = date.getDate();
			var m = date.getMonth();
			var y = date.getFullYear();
			$('.calendar-default').fullCalendar({
				editable: true,
				events: [
					{
						title: 'All Day Event',
						start: new Date(y, m, 1)
					},
					{
						title: 'Long Event',
						start: new Date(y, m, d-5),
						end: new Date(y, m, d-2)
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d-3, 16, 0),
						allDay: false
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d+4, 16, 0),
						allDay: false
					},
					{
						title: 'Meeting',
						start: new Date(y, m, d, 10, 30),
						allDay: false
					},
					{
						title: 'Lunch',
						start: new Date(y, m, d, 12, 0),
						end: new Date(y, m, d, 14, 0),
						allDay: false
					},
					{
						title: 'Birthday Party',
						start: new Date(y, m, d+1, 19, 0),
						end: new Date(y, m, d+1, 22, 30),
						allDay: false
					},
					{
						title: 'Click for Google',
						start: new Date(y, m, 28),
						end: new Date(y, m, 29),
						url: 'http://google.com/'
					}
				]
			});
			$('.calendar-agenda').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				editable: true,
				events: [
					{
						title: 'All Day Event',
						start: new Date(y, m, 1)
					},
					{
						title: 'Long Event',
						start: new Date(y, m, d-5),
						end: new Date(y, m, d-2)
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d-3, 16, 0),
						allDay: false
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d+4, 16, 0),
						allDay: false
					},
					{
						title: 'Meeting',
						start: new Date(y, m, d, 10, 30),
						allDay: false
					},
					{
						title: 'Lunch',
						start: new Date(y, m, d, 12, 0),
						end: new Date(y, m, d, 14, 0),
						allDay: false
					},
					{
						title: 'Birthday Party',
						start: new Date(y, m, d+1, 19, 0),
						end: new Date(y, m, d+1, 22, 30),
						allDay: false
					},
					{
						title: 'Click for Google',
						start: new Date(y, m, 28),
						end: new Date(y, m, 29),
						url: 'http://google.com/'
					}
				]
			});


			// Activate redactor editor
			$('#redactor').redactor({
				focus: true
			});
			
		});
	</script>
	<script src="js/bootstrap.js"></script>
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
	<script src="js/custom.js"></script>
	

  </body>
</html>