<b><?=prntext($data['SiteName'])?></b> was launched so that anyone with an email account can send or receive credits. Each credit is valued at $1.00 USD. <b><?=prntext($data['SiteName'])?></b> members may redeem their credits for the cash equivalency at any time by selling these credits back to <b><?=prntext($data['SiteName'])?></b>.
<br><br>
You can believe there should be one universal online payment system and will strongly compete to be the provider of choice.
<br><br>
At last, you have found an online payment processor that will not "freeze" or suspend your account for activities such as MLM, Income Opps., adult business. <b><?=prntext($data['SiteName'])?></b> will however suspend any account that is found to be involved in any fraudulent or malicious activity, including impersonating a representative or attempting to gain other users passwords. Any decision made by , its officers, or representatives will be final.
<br><br>
<u><b><font color=#FF0000>HACKING:</font></b></u>
<blockquote style="margin:10px 10px 10px 10px">
If you use, or attempt to use the <b><?=prntext($data['SiteName'])?></b> for purposes other than sending and receiving payments and managing your account, including but not limited to tampering, hacking, modifying or otherwise corrupting the security or functionality of <b><?=prntext($data['SiteName'])?></b>, your account will be terminated and you will be subject to damages and other penalties, including criminal prosecution where available.
</blockquote>
<u><b><font color=#FF0000>PASSWORDS:</font></b></u>
<blockquote style="margin:10px 10px 10px 10px">
<b><?=prntext($data['SiteName'])?></b> will never ask for your password. Never give your password to anyone. <b><?=prntext($data['SiteName'])?></b> will not be responsible for losses incurred by users as the result of their misuse of passwords.
</blockquote>
<u><b><font color=#FF0000>INDEMNIFICATION:</font></b></u>
<blockquote style="margin:10px 10px 10px 10px">
You agree to indemnify and hold, its affiliates, officers, directors, and employees harmless from any claim, action, demand, loss, or damages (including attorneys' fees) made or incurred by any third party arising out of or relating to your use of the Service.
</blockquote><br><br>
"Buyer beware - At any time you join an Income Opportunity or MLM program you are doing so at your own risk. We do not issue refunds if the program turns out to not be what you thought it was, or if they don't hold up to their promises. You should thoroughly investigate any opportunity before making the decision to join - if it sounds too good to be true, it usually is. It should also be noted that voiding your credit card transaction you used to fund your account for any reason constitutes credit card fraud as well as violates many other laws, and will be prosecuted to the maximum extent allowable."
<br><br>
<b><?=prntext($data['SiteName'])?></b> reserves the right to make any changes to its terms of service at any time without prior notification.
<br><hr><br>
<center><b><font color=#FF0000>WE DO NOT ACCEPT ONLINE CASINO PAYMENTS</font></b></center>