<html>
 <head>
  <title>OUR TERMS AND CONDITIONS</title>
  <link rel=stylesheet type=text/css href="<?=$data['Host']?>/css/style.css">
 </head>
 <body topmargin=10 leftmargin=10 marginwidth=10 marginheight=10 bgcolor=#FFFFFF>
 <table class=frame width=100% border=0 align=center cellspacing=1 cellpadding=2>
 <tr><th class=caption>OUR TERMS AND CONDITIONS</th></tr>
 <tr><td class=justify>
 <br>
 Please place your custom information here...
 <br><br>
 </td></tr>
 </table>
 <br><center><input type=button class=submit onclick="window.close()" value="CLOSE WINDOW"></center>
 </body>
</html>