Epay Enterprise is the better software solution to start your own PayPal, StormPay, SolarPay or e-gold type of online business. EPay Enterprise is a system where members can buy virtual credits to spend at in the different members' sites. Members can use their accounts to send money to other members, they can pay for auctions or purchase any other products with just a email address. 100% bug free and secure script can work through SSL. Admin area will provide you information about all transactions.
<br /><br />
You can deposit or withdraw money to/from the system using another payments gateways from this list:
<br /><br />
<center>
<script type="text/javascript">google_ad_client="pub-4334344192881995";google_ad_width=468;google_ad_height=60;google_ad_format="468x60_as";google_ad_type="text_image";google_ad_channel="";google_color_border="FFFFFF";google_color_bg="FFFFFF";google_color_link="555555";google_color_url="555555";google_color_text="777777";</script><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
<br /><br />
<a href="http://www.paypal.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/paypal.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.stormpay.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/stormpay.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.e-gold.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/egold.gif" width="116" height="34" border="0" alt="" /></a>
<a href="https://www.netpay.tv/" target="_blank"><img src="<?=$data['Host']?>/images/logos/netpay.gif" width="116" height="34" border="0" alt="" /></a>
<br />
<a href="http://www.virtualgold.net/" target="_blank"><img src="<?=$data['Host']?>/images/logos/virtualgold.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://pecunix.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/pecunix.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.payemo.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/payemo.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.moneybookers.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/moneybookers.gif" width="116" height="34" border="0" alt="" /></a>
<br />
<a href="http://www.intgold.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/intgold.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.evocash.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/evocash.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.goldmoney.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/goldmoney.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.epaydirect.net/" target="_blank"><img src="<?=$data['Host']?>/images/logos/epaydirect.gif" width="116" height="34" border="0" alt="" /></a>
<br />
<a href="http://www.e-bullion.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/ebullion.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.2checkout.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/2checkout.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.authorize.net/" target="_blank"><img src="<?=$data['Host']?>/images/logos/authorize.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.qchex.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/qchex.gif" width="116" height="34" border="0" alt="" /></a>
<br />
<a href="http://www.westernunion.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/western.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.moneygram.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/moneygram.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.echeck.org/" target="_blank"><img src="<?=$data['Host']?>/images/logos/echeck.gif" width="116" height="34" border="0" alt="" /></a>
<a href="http://www.alstrasoft.com/" target="_blank"><img src="<?=$data['Host']?>/images/logos/bank.gif" width="116" height="34" border="0" alt="" /></a>
<br />
</center>