<table width=100% border=0 align=center cellpadding=0 cellspacing=0>
  <tr bgcolor=#FFFFFF> 

    <td align=center valign=top> 
    <table width=100% border=0 cellpadding=3 cellspacing=3 class=design style="border-collapse: collapse" bordercolor="#111111">
        <tr> 
          <td bgcolor="#F2F2F2"><div align="center"><strong>Available Worldwide ! Sign up today 
              </strong></div></td>
        </tr>
        <tr> 
          <td class=text bgcolor=#FFFFFF align=center>&nbsp; <a href="about.htm">
          <img border="0" src="images/bg.gif" width="400" height="153"></a></td>
        </tr>
      </table>
      <table width=100% border=0 cellpadding=0 cellspacing=0 class=design>
        <tr> 
          <td bgcolor="#F2F2F2"><div align="center"><strong>Why Us ?</strong></div></td>
        </tr>
        <tr> 
          <td class=text bgcolor=#FFFFFF> •<strong> Start Accepting Online Payments 
            Instantly</strong>: No paperwork, no approval process! You can register 
            for an account and begin accepting payments on your website 
            in just minutes! <br> <br>
            •<strong> Free Referral Program</strong>: Open a free account today 
          and be automatically enrolled in our free affiliate program that pays 
          you for your referrals 6 levels deep.<br> <br>
            • <strong>Instant Payment Notifications</strong>: You are notified 
            instantly via e-mail when someone sends funds to your account. <br> <br>
            • <strong>Variety of Funding Options</strong>: We offers 
            a variety of funding options,&nbsp; such as by credit card, E-check, and 
            U.S. mail <br> <br>
            • <strong>Sell Online</strong>: We are a reliable payment processor 
            and will not &quot;freeze&quot; or &quot;suspend&quot; your account 
            for any reason other than fraud or spam!<br> <br>
            We are here for your success on the internet! </td>
        </tr>
      </table>
      <br>
      <table class=design width=100% border=0 cellspacing=0 cellpadding=0>
        <tr> 
          <td align=center bgcolor=#F2F2F2><strong> 
            <a class="href" href="members/signup.htm"> 
            <font color="#000033">SIGN&nbsp;UP TODAY !</font></a></strong></td>
        </tr>
      </table> 
</td>
    <td width=1 class="lineCopy">&nbsp;</td>
    <td width=150 valign=top>
        <table class=design width=100% border=0 cellspacing=3 cellpadding=3 style="border-collapse: collapse" bordercolor="#111111">
          <tr> 
            <td bgcolor="#999999"><strong><font color="#FFFFFF">
            <img border="0" src="images/chat_24.gif" align="absmiddle" width="24" height="24"> CHAT WITH US</font></strong></td>
          </tr>
          <tr> 
            <td align=center bgcolor=#f2f2f2> <table class=design width=100% border=0 cellspacing=0 cellpadding=0>
                <tr> 
                  <td>
                  <p style="margin-top: 0; margin-bottom: 0">Need Help? Problems? Chat with us live now!</p>
                  <p align="center" style="margin-top: 0; margin-bottom: 0">
                  <img border="0" src="images/p1.gif" width="106" height="93"></p>
                  <p align="center" style="margin-top: 0; margin-bottom: 0">&nbsp;</td>
                </tr>
  
              </table></td>
          </tr>
        </table>
      
      <table class=design width=100% border=0 cellspacing=3 cellpadding=3 style="border-collapse: collapse" bordercolor="#111111">
        <tr> 
          <td colspan=2 bgcolor="#999999"><strong><font color="#FFFFFF">
          <img border="0" src="images/admin_24.gif" align="absmiddle" width="24" height="24"> 
          ONLINE TOOLS</font></strong></td>
        </tr>
        <tr> 
          <td bgcolor=f2f2f2> <table class=design width=100% border=0 cellspacing=0 cellpadding=0>
              <tr> 
                <td width=100><strong><font color="#003399">MERCHANTS</font></strong></td>
              </tr>
              <tr> 
                <td>Accept online payments Immediately with our Merchant 
                  Tools!</td>
              </tr>
            </table>
            <br> 
            <table class=design width=100% border=0 cellspacing=0 cellpadding=0>
              <tr> 
                <td width=100><strong><font color="#003399">SHOP ONLINE</font></strong></td>
              </tr>
              <tr> 
                <td>Shop in any online store,or buy any products from our 
                merchant now!</td>
              </tr>
            </table></td>
        </tr>
      </table>
        <p align="center">
        <img border="0" src="images/trustmark.gif" width="116" height="31"></td>
  </tr>
</table>